.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
  span {
    font-size: 12px;
    margin-top: 2px;
  }
}

.active {
  color: var(--color-primary);
}
