.row {
  text-align: center;
  &__rate,
  &__value {
    padding: 10px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.up {
  background-color: #fcb2aac9;
}
.down {
  background-color: #d0fddee3;
}
